.container {
    display: flex;
    flex-direction: column;
    margin: 10px ;
     
     
     
    
     
  }
  
  .sendermsg {
    background-color: #580c0c;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    align-self: flex-start;  
    margin: 5px 0;
    color: white;
  }
  
  .recievermsg {
    background-color: #041d38;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    align-self: flex-end;  
    margin: 5px 0;
    color: white;
  }
  .whole
  {
    height: 450px;
    overflow-y:scroll;
    background-image: url(/public/chatboxbkimg.jpg);
   
  }
  .searchbar input{
    color: rgb(111, 111, 111);
    background-color: black;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    margin: 10PX;
  }
  .searchbar
  {
    display: flex;
    justify-content: center;
    
  }
   