body{
    margin: 0;
    padding: 0;
   }
   .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    height: 40px;
    width: 40px;
     border-radius: 50%;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .logo{
    margin:20px ;
  }
  
    .logo img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      padding: 0;
  
    }
  
    .headercontainer
    {
      display: flex;
      justify-content: space-between;
      background-color: rgb(0, 0, 0);
      color: white;
    }
  
    .title
    {
      text-align: center;
      padding: 30px;
      font-size:  20px;
      font-weight: bold;
      font-style: italic;
    }
    .dropbtn img
    {
      height: 30px;
      width: 30px;
       margin-right: 3px;
       margin-top: 3px;
      border-radius: 50%;
    }
  
    .title span
    {
      color: red;
      font-size: 30px;
    }
  
    .headermenu
    {
       margin: 30px;
    }