 
.container img
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.container{
    display: flex;
    justify-content: center;
    
    
  
 
   
    
}

.backround
{
    
}
.box
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   background-color: white;
   border-radius: 20px;
   box-shadow: 0px 0px   20px;
   
   

   
}
h1{
    display: flex;
    justify-content: center;
}

.logo
{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.button
{

    display: flex;
    justify-content: center;
    margin: 25px;
    background-color: rgb(217, 217, 6);
    font-weight: bold;
    transition: ease 400ms;

}
.button:hover
{
    background-color: white;
    transition: ease 400ms;
    cursor: pointer;
}

.signup
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sucon
{
    display: flex;
    justify-content: center;
}
.logc
{
    display: flex;
    justify-content: center;
}


 
 